apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: django-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/FedotovMS/devops-final-project.git
    targetRevision: devops-final-project
    path: charts/django-app
    helm:
      releaseName: django-app

  destination:
    server: https://kubernetes.default.svc
    namespace: django-app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true